html {
  background-color: #E1E5EE;
  font-size: calc(1em + 1vw);
  
  
}

body {
  margin: 4em;
  padding: 0em;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
  display: flex;
  flex-direction: column;

  
}

header {
  width: 100%;
}


/* DESIGN FOR NAVBAR */

nav {     
  position: absolute; 
  width: 100%;
}  
 
 
nav ul {
  padding: 0em;
  margin-top: -2.48em;

}

nav li {
  display: inline-block;
  margin-right: 0em; /* Setter mellomrom mellom elementene */ 
}


nav ul li a {
  display: inline-block;
  height: 3.5em;
  line-height: 3.5em;
  padding: 0 3.53em;
  color: #fff;
}

nav a {
  text-decoration: none;
  color: #fff; /* Farge for tekst */
  font-weight: 900;
  font-size: 25px;
  background-color: #2A324B; /* Bakgrunnsfarge for linkene */
}

nav ul li a:visited {
  background-color: #fff;
  color: black;
}

/* DESIGN FOR NAVBAR FERDIG */



/* DESIGN FOR SECTION */
section {
  width: 100%; 
  padding: 3em;
  background-color: #fff;
  box-sizing: border-box;
}

section h1 {
  font-size: 30px;
  font-weight: 900;
}

section p { /* Design for tekst */
  font-weight: 700; 
  font-size: 20px;
  color: black; 
}

section ul li {
  display: list-item;
  font-weight: 700;
  font-size: 20px;
}

/* DESIGN FOR SECTION FERDIG */






/* MEDIA QURIES */
@media only screen and (min-width: 600px) {
  #header nav {
    float: left;
  }

  #header nav ul {
    float: right;
    margin: 0;
  }

  #header nav ul li {
    display: inline-block;
  }
}