html {
  background-color: #E1E5EE;
  
}

body {
  margin: 15em;
  padding: 5em;
  background-color: #fff;
  font-family: 'Montserrat', sans-serif;
}

header {
  margin: 0em;
}


/* DESIGN FOR NAVBAR */

#navbar {     
  position: fixed; /* Lar navmeny alltid være lik */
  top: 1%;
  padding: 10.1em 0em;
  margin-left: -5.1%;
}  
 
 
#navbar ul {
  padding: 0;
  margin: 0;
  list-style: none; 
}

#navbar li {
  display: inline-block;
  margin-right: 10px; /* Setter mellomrom mellom elementene */ 
}


#navbar ul li a {
  display: inline-block;
  height: 3.25em;
  line-height: 3.25em;
  padding: 0 3.0em;
  text-decoration: none;
  
}

#navbar a {
  text-decoration: none;
  color: #fff; /* Farge for tekst */
  font-weight: bolder;
  font-size: 20px;
  background-color: #2A324B; /* Bakgrunnsfarge for linkene */
  padding: 1em; /* Padding */
  text-align: center;
  position: relative;
}


#nav a:hover { /* Design for når det hovres over en link i navigasjonsmenyen */
  background-color: #fff;
  color: black;
  padding: 0px;
}

#navbar ul li a:active { /* Design for hva som vises når man er på en link */
  background-color: #fff;
  box-shadow: none;
  color: black;
}

/* DESIGN FOR NAVBAR FERDIG */



/* DESIGN FOR SECTION */
.section {
  display: none;
}

/* DESIGN FOR SECTION FERDIG */



/* DESIGN FOR ARTIKKEL */ 
article {
  padding: 50px;
}

article h1 {
  font-weight: bolder; 
  font-size: 25px;
  color: black;
}

article p { /* Design for tekst */
  font-weight: bold; 
  font-size: 15px;
  color: black; 
}

article ul li {
  display: list-item;
  font-weight: bold;
  font-size: 15px;
}



/* DESIGN FOR ARTIKKEL FERDIG */
